<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <title>Dinamic Menu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<body>
<div class="ui styled accordion">
    {% for menu in records %}
        <div class="title">
            <i class="dropdown icon"></i>
            {{ menu }}
        </div>
        <div class="content">
            {% for submenu in records[menu] %}
                {% if submenu != None %}
                    <div class="accordion">

                        <div class="title">
                            <i class="dropdown icon"></i>
                            {{ submenu }}
                        </div>

                        <div class="content">
                            {% for data in records[menu][submenu] %}
                                <div class="content">
                                    <a href="{{ data['url'] }}">{{ data['action'] }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="content">
                        {% for data in records[menu][submenu] %}
                            <div class="content">
                                <a href="{{ data['url'] }}">{{ data['action'] }}</a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.ui.accordion').accordion();
    });
</script>
</body>
</html>
